body {
  background-color: #fff;
  font-size: 16px;
  color: #666;
  max-width: 2000px;
  font-family: 'Arial';
  margin: 50px;
  font-size: 14px;
}

#buttons {
  text-align: center;
  display: none;
  class: "btn btn-default";
  type: "btn";
}
