body {
  background-color: #fff;
  font-size: 16px;
  color: #666;
}

p#text {
  margin: 50px;
}

#buttons {
  text-align: center;
  display: none;
}

button {
  color: #555;
  font-size: 16px;
  font-weight: bold;
  background-color: #ccc;
  border: solid 4px #ddd;
  border-radius: 4px;
  padding: 0.5em 2em;
}

button:hover {
  color: #333;
  background-color: #999;
}